// place your custom styles here
#navbar{
    /* keep the animated gradient but make it semi-transparent so we can see blur behind it */
    background: linear-gradient(90deg,
        rgba(243,144,147,0.65),
        rgba(255,187,168,0.65),
        rgba(189,163,255,0.65),
        rgba(236,161,215,0.65),
        rgba(243,144,147,0.65),
        rgba(255,187,168,0.65)
    );
    background-size: 500% 200%;
    animation: gradientAnimation 20s linear infinite;

    /* glassy effect */
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    margin:5px;
    border-radius:12px;
}

.hide-navbar .vp-navbar.auto-hide {
    transform: translateY(calc(-100% - 10px)) !important;
}

@keyframes gradientAnimation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
}

.vp-sidebar{
    box-shadow: none;
    border-right: 1px solid var(--vp-c-border);
}

.toggle-sidebar-wrapper{
    top:calc(50% - 3rem);
    height: 6rem;
    border-radius: 0 12px 12px 0;
    border: 1px solid var(--vp-c-border);
    background-color: var(--sidebar-c-bg);
    opacity: 0.5;
}

.toggle-sidebar-wrapper:hover{
    opacity: 1;
    background-color: var(--sidebar-c-bg);
}

